﻿
@{
    ViewBag.Title = "LoginResult";
}

@{ string str = @Model.Name + " (Logout)";}
<div style="text-align:right;padding: 10px 20px 0px 0px;">@Html.ActionLink(str, "Logout", null, new { @class = "btn btn-primary", @style = "text-align:right" }) </div>
<h2>LoginResult</h2>
<br />

<center>
    <i>
        Hellow World
    </i>
</center>

