﻿@model DotNetPrac.Models.User
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<center>
    @using (Html.BeginForm("LoginResult", "Home", FormMethod.Post))
    {
        <pre>
Name     @Html.TextBoxFor(m => m.Name)

Password @Html.PasswordFor(m => m.Password)
        </pre>

        <pre><input type="submit" value="Submit" />    @Html.ActionLink("Register", "Register", "Home")</pre>
    }
</center>