﻿@model DotNetPrac.Models.User
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<center>
    @using (Html.BeginForm("RegisterResult", "Home", FormMethod.Post))
    {
        <pre>
Name     @Html.TextBoxFor(m => m.Name)

Password @Html.PasswordFor(m => m.Password)
        </pre>

        <pre><input type="submit" value="Submit" />   @Html.ActionLink("Login", "Login", "Home")</pre> 

    }
</center>