﻿
@{
    ViewBag.Title = "RegisterResult";
}

<h2>RegisterResult</h2>




<div style="font-size:30px;color:forestgreen;padding-left:30px">
    Register Successed
</div>

<div>
    <button>@Html.ActionLink("Login", "Login", "Home")</button>
