﻿
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Login", "Login", "Home")</li>
            </ul>
        </div>

        
    </div>
</div>

<div>
    <form method="post" action="Login_result">
        <p>Name <input name="name" type="text" /></p>
        <p>Password <input name="password" type="password" /></p>
        <center><input type="submit" value="Submit" /></center>

    </form>
    <br /><br />
    <center><button class="btn btn-default btn-lg">@Html.ActionLink("Register", "Register", "Home")</button></center>
</div>
