﻿
@{
    ViewBag.Title = "Login_result";
}

<h2>Login_result</h2>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                @{string BTN =@Model.name+" (logout)";}
                <li style="color:white"> @Html.ActionLink(@BTN, "Logout", "Home")</li>

            </ul>
        </div>


    </div>
</div>


<center>
    <i style="font-size:30px;color:red">Hello World</i>
    <br />
</center>